@charset "utf-8";
/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1.2;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}
@font-face {
    font-family: 'Blackout-2AM';
    src: url('../fonts/blackout_two_am-webfont.eot');
    src: url('../fonts/blackout_two_am-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackout_two_am-webfont.woff') format('woff'),
         url('../fonts/blackout_two_am-webfont.ttf') format('truetype'),
         url('../fonts/blackout_two_am-webfont.svg#Blackout-2AM') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Blackout-Sunrise';
    src: url('../fonts/blackout_sunrise-webfont.eot');
    src: url('../fonts/blackout_sunrise-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackout_sunrise-webfont.woff') format('woff'),
         url('../fonts/blackout_sunrise-webfont.ttf') format('truetype'),
         url('../fonts/blackout_sunrise-webfont.svg#Blackout-Sunrise') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Blackout-Midnight';
    src: url('../fonts/blackout_midnight-webfont.eot');
    src: url('../fonts/blackout_midnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackout_midnight-webfont.woff') format('woff'),
         url('../fonts/blackout_midnight-webfont.ttf') format('truetype'),
         url('../fonts/blackout_midnight-webfont.svg#Blackout-Midnight') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Adequate-Extra_Light';
    src: url('../fonts/adequate-extralight-webfont.eot');
    src: url('../fonts/adequate-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adequate-extralight-webfont.woff2') format('woff2'),
         url('../fonts/adequate-extralight-webfont.woff') format('woff'),
         url('../fonts/adequate-extralight-webfont.ttf') format('truetype'),
         url('../fonts/adequate-extralight-webfont.svg#Adequate-Extra_Light') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Drugs-Regular';
    src: url('../fonts/drugs-webfont.eot');
    src: url('../fonts/drugs-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/drugs-webfont.woff2') format('woff2'),
         url('../fonts/drugs-webfont.woff') format('woff'),
         url('../fonts/drugs-webfont.ttf') format('truetype'),
         url('../fonts/drugs-webfont.svg#Drugs-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
    display: block;
    text-decoration: none;
    min-height: 135px;
    max-height: 300px;
}

p {
    font-family: 'Drugs-Regular';
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    color: rgb(33, 46, 63);
    text-align: left;
    width: 100%;
    margin-top: 10px;
    height: 100%;
}

h1 {
    font-family: 'Blackout-2AM', sans-serif;
    font-size: 90px;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Drugs-Regular', sans-serif;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    color: rgb(242, 53, 87);
    text-transform: uppercase;
}

h2 span {
    display: inline-block;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(242, 53, 87);
    width: 600px;
}

nav {
    margin-top: 20px;
    min-width: 100%;
    height: 135px;
}

nav span {
    font-family: 'Adequate-Extra_Light';
    font-size: 25px;
    color: #f2cd5e;
}

body {
    background-image: url(../images/Background-Home.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-page {
    background-image: url(../images/Background-About.jpg)
}

footer {
    background-color: rgb(33, 46, 63);
    height: 50px;
    margin-bottom: 50px;
}

footer p {
    position: relative;
    top: 17px;
    right: 50px;
    vertical-align: text-bottom;
    text-align: right;
    font-size: 14px;
    color: white;
}

section {
    overflow: auto;
}

.container {
    width: 1080px;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    position: relative;
}

.banner {
    height: 300px;
    background-image: url(../images/banner-home.jpg);
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: rgb(33, 46, 63);
}

.banner-about {
    height: 300px;
    background-image: url(../images/Banner-About.jpg);
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: #d8316f;
}

.banner-games {
    height: 300px;
    background-image: url(../images/Banner-Game.jpg);
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: #d8316f;
}

.banner h1 {
    padding-top: 48px;
    text-align: center;
}

.biography-home {
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    width: 600px;
}

.portfolio-home {
    float: left;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 5%;
    width: 600px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 55px;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

nav li {
    height: 135px;
    width: 160px;
    float: left;
    text-align: center;
}

nav li img {
    margin-top: 25px;
    text-align: center;
}

nav li p{
    display: block;
    margin-top: 10px;
    text-align: center;
    height: auto;
}

.gallery {
    margin-left: 120px;
}

.home .about p, .home .contact p {
    transition: color .6s ease;
    color: #f2cd5e;
}

.home .english p, .home .videos p {
    transition: color .6s ease;
    color: #f29748;
}

.home .games p, .home .gallery p {
    transition: color .6s ease;
    color: #f24b4b;
}

.about-page .about p, .about-page .contact p {
    transition: color .6s ease;
    color: #f2cd5e;
}

.about-page .english p, .about-page .videos p {
    transition: color .6s ease;
    color: #f29748;
}

.about-page .games p, .about-page .gallery p {
    transition: color .6s ease;
    color: #f24b4b;
}

.logo {
    width: 120px;
    height: 178px;
    position: absolute;
    top: 7px;
    left: 477px;
    background-image: url(../images/icons/Logo.png);
}

p a {
    display: inline;
    text-decoration: underline;
    min-height: 0;
    max-height: auto;
}

.home .about-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/about.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    padding-left: 35px;
}

.about-page .about-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/About-a.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    padding-left: 35px;
}

.english-page .about-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/About-e.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    padding-left: 35px;
}

.games-page .about-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/About-g.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    padding-left: 35px;
}

.gallery-page .about-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/About-ga.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    padding-left: 35px;
}

.videos-page .about-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/About-a.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    padding-left: 35px;
}

.contact-page .about-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/About-a.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    padding-left: 35px;
}

.home .english-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/English.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 44px;
    padding-left: 37px;
}

.home .games-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Games.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 44px;
    padding-left: 51px;
}

.home .gallery-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Galllery.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 44px;
    padding-left: 58px;
}

.home .videos-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Videos.png);
    background-repeat: no-repeat;
    width: 41px;
    height: 44px;
    padding-left: 41px;
}

.home .contact-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Contact.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 44px;
    padding-left: 59px;
}

.about-page .english-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/English-a.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 44px;
    padding-left: 37px;
}

.about-page .games-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Games-a.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 44px;
    padding-left: 51px;
}

.about-page .gallery-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Galllery-a.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 44px;
    padding-left: 58px;
}

.about-page .videos-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Videos-a.png);
    background-repeat: no-repeat;
    width: 41px;
    height: 44px;
    padding-left: 41px;
}

.about-page .contact-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Contact-a.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 44px;
    padding-left: 59px;
}

.english-page .english-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/English-e.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 44px;
    padding-left: 37px;
}

.english-page .games-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Games-e.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 44px;
    padding-left: 51px;
}

.english-page .gallery-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Galllery-e.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 44px;
    padding-left: 58px;
}

.english-page .videos-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Videos-e.png);
    background-repeat: no-repeat;
    width: 41px;
    height: 44px;
    padding-left: 41px;
}

.english-page .contact-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Contact-e.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 44px;
    padding-left: 59px;
}

.games-page .english-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/English-g.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 44px;
    padding-left: 37px;
}

.games-page .games-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Games-g.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 44px;
    padding-left: 51px;
}

.games-page .gallery-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Galllery-g.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 44px;
    padding-left: 58px;
}

.games-page .videos-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Videos-g.png);
    background-repeat: no-repeat;
    width: 41px;
    height: 44px;
    padding-left: 41px;
}

.games-page .contact-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Contact-g.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 44px;
    padding-left: 59px;
}

.gallery-page .english-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/English-ga.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 44px;
    padding-left: 37px;
}

.gallery-page .games-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Games-ga.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 44px;
    padding-left: 51px;
}

.gallery-page .gallery-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Galllery-ga.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 44px;
    padding-left: 58px;
}

.gallery-page .videos-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Videos-ga.png);
    background-repeat: no-repeat;
    width: 41px;
    height: 44px;
    padding-left: 41px;
}

.gallery-page .contact-image {
    display: inline-block;
    box-sizing: border-box;
    transition: background-image .6s ease;
    background-image: url(../images/icons/Contact-ga.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 44px;
    padding-left: 59px;
}

.about-page .about:hover, .about-page .contact:hover {
    background-color: #d8316f;
}

.about-page .english:hover, .about-page .videos:hover {
    background-color: #a53167;
}

.about-page .games:hover, .about-page .gallery:hover {
    background-color: #342e59;
}

.english-page .about:hover, .english-page .contact:hover {
    background-color: #41f2e0;
}

.english-page .english:hover, .english-page .videos:hover {
    background-color: #3980bf;
}

.english-page .games:hover, .english-page .gallery:hover {
    background-color: #d83150;
}

.games-page .about:hover, .games-page .contact:hover {
    background-color: #4a88bf;
}

.games-page .english:hover, .games-page .videos:hover {
    background-color: #413f8c;
}

.games-page .games:hover, .games-page .gallery:hover {
    background-color: #451859;
}

.container nav li:hover p {
    color: white;
}

nav li {
    transition: background-color .6s ease;
    background-color: transparent;
}

.home .about:hover, .home .contact:hover {
    background-color: #f2cd5e;
}

.home .about .about-image {
    transition: background-image .6s ease;
    background-image: url(../images/icons/About.png);
}

.about:hover .about-image {
    background-image: url(../images/icons/About-white.png);
}

.home .english:hover, .home .english:hover {
    background-color: #f29748;
}

.english:hover .english-image {
    background-image: url(../images/icons/English-white.png);
}

.home .games:hover, .home .games:hover {
    background-color: #f24b4b;
}

.games:hover .games-image {
    background-image: url(../images/icons/Games-white.png);
}

.home .gallery:hover, .home .gallery:hover {
    background-color: #f24b4b;
}

.gallery:hover .gallery-image {
    background-image: url(../images/icons/Galllery-white.png);
}

.home .videos:hover, .home .videos:hover {
    background-color: #f29748;
}

.videos:hover .videos-image {
    background-image: url(../images/icons/Videos-white.png);
}

.home .contact:hover, .home .contact:hover {
    background-color: #f2cd5e;
}

.contact:hover .contact-image {
    background-image: url(../images/icons/Contact-white.png);
}

.portfolio-about {
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    width: 600px;
    margin-bottom: 50px;
}

.footer-about {
    background-color: #d8316f;
}

.footer-english {
    background-color: #3980bf;
}

.footer-games {
    background-color: #451859;
}

.english-page {
    background-image: url(../images/Background-English.jpg);
}

.english-page .about p, .english-page .contact p {
    color: #41f2e0;
}

.english-page .english p, .english-page .videos p {
    color: #3980bf;
}

.english-page .games p, .english-page .gallery p {
    color: #d83150;
}

.games-page .about p, .games-page .contact p {
    color: #4a88bf;
}

.games-page .english p, .games-page .videos p {
    color: #413f8c;
}

.games-page .games p, .games-page .gallery p {
    color: #451859;
}

.games-page {
    background-image: url(../images/Background-Games.jpg);
}

.presentation {
    margin-left: 60px; 
    margin-bottom: 50px;
}

.essay {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.banner-english {
    margin-top: 55px;
    shape-inside: rectangle();
    width: auto;
    height: 5px;
    background-color: #3980bf;
}

.final-essay-image {
    margin-left: 50px;
}